       
        main{
            width: 800px;
            
            /* margin-left: 500px;
            margin-right: 500px; */
            margin: 0 auto;
            font-weight: 300;
        }

        h1 {
            /* font-weight: bolder; */
            margin-top: 20px;
            text-align: center;
        }
        hr{
            border: 2px solid black;
        }

        span {
            font-size: 15px;
            color: gray;
        }

        img {
            display: block;
            margin: 30px auto 0 auto;
        }

        div {
            margin-top: 40px;
            margin-left: 50px;
            font-size: 20px;
        }

        p {
            line-height: 25px;
            font-size: 20px;
            text-indent: 2em;
        }

        div {
            text-align: center;
        }

        a {
            border: 1px solid gray;
            padding: 5px;
            color: black;
            text-decoration: none;
            font-size: 15px;
        }
        a:hover{
            color: white;
            background-color: rgb(236, 75, 75);
            border: 1px solid gray;
        }
       .current{
        background-color: rgb(236, 75, 75);
        color: white;
       }
